<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width">
  <style>
    *,

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #00234B;
      line-height: 1.2em;
      font-weight: 500;
    }

    h1 {
      font-size: 26px;
      line-height: 1.2em;
      font-weight: 700;
    }

    h2 {
      font-size: 20px;
    }

    img {
      max-width: 100%;
    }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      height: 100%;
    }

    a {
      text-decoration: none;
    }

    strong {
      font-weight: 500;
      color: #00234B;
    }

    #header {
      width: 100%;
      height: 300px;
    }

    @media (min-width: 521px) {
      #header {
        height: 260px;
        display: flex;
      }

      #header-text {
        min-width: 330px;
      }

      #header-text p {
        text-align: center;
        margin-top: 10px;
      }

      #header-image {
        padding-right: 20px;
      }
    }

    @media (max-width: 500px) {
      .remote-logo-header {
        margin-top: 12% !important;
      }

      .content-wrapper {
        margin-top: 12% !important;
      }
    }

    @media (max-width: 521px) {
      .show-text {
        display: inline-block !important;
      }

      .hide-text {
        display: none !important;
      }

      .head-block {
        display: block !important;
      }

      .head-date {
        padding-top: 10px !important;
      }
    }
  </style>
  <meta name="x-apple-disable-message-reformatting">
</head>

<body bgcolor="#FFFFFF" style="padding: 0; margin: 0;">
  <div style="
        background-color: #f4f8fe;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 35, 75, 0.6);
        overflow: hidden;
      ">

    <div class="content-wrapper" style="
          background-color: #ffffff;
          margin: 2.5% auto 5% auto;
          max-width: 640px;
          box-shadow: 5px 12px 36px rgba(0, 35, 75, 0.03);
          border-radius: 10px;
        ">
      <div style="padding: 56px 8.75% 0px;">
        <div id="hs_cos_wrapper_module_161652874348826"
          class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
          style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget"
          data-hs-cos-type="module">
          <div class="head-block"
            style="display: flex; margin-bottom: 0; justify-content: space-between; align-items: center;">
            <div style="width: 75%;">
              <div id="hs_cos_wrapper_module_161652874348826_"
                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo"
                style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget"
                data-hs-cos-type="logo"><a href="https://ogolfim.com/" id="hs-link-module_161652874348826_"
                  style="border-width:0px;border:0px;" data-hs-link-id="0" target="_blank">
                  <img src="{{baseUrl}}/files/logo.png" class="hs-image-widget "
                    style="max-width:6.6rem; border-width:0px;border:0px;" width="157">
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div id="header" style="background-color: #000624;">
        <div id="header-text">
          <p style="color: #fff; padding: 0px 20px 10px 36px;">
            {{service}}
          </p>
        </div>
      </div>
      

        <di id="hs_cos_wrapper_email_template_main_email_body"
          class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
          style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget"
          data-hs-cos-type="module">

          <p style="margin-bottom: 1em;">
            {{error}}
          </p>

          <p style="margin-bottom: 1em;">
            Código do error: {{code}}
          </p>

          <p style="margin-bottom: 1em;">
            Data e hora: {{date}}
          </p>
          <p style="margin-bottom: 0.3em; "></p>
        </di>
      </div>
    </div>
    <div style="
            margin-top: 28px;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0.05em;
            color: #525f7f;
            text-transform: uppercase;
          ">
      Queremos mais educação financeira!</div>
  </div>
  <div style="
          max-width: 580px;
          margin: 0 auto;
          font-size: 13px;
          line-height: 21px;
          text-align: center;
          color: #778ca3;
        ">

    <!-- Office location information and unsubscribe links -->
    <p style="margin-bottom: 1em; ">
      Se você recebeu este email é porque está a fazer teste do projecto Mozeconomia.
    </p>
    <p style="margin-bottom: 1em; ">
      Mozeconomia, LDA.<br>
      Usamos Gráficos
    </p>
    <span style="
            display: inline-block;
            width: 100%;
            margin-top: 32px;
            margin-bottom: 30px;
            text-align: center;
            font-size: 13px;
            line-height: 21px;
            text-align: center;
            color: #778ca3;
          ">
      Copyright © 2021 Mozeconomia, LDA. Todos direitos reservados.
    </span>
  </div>
  </div>

</body>

</html>